<include file="__THEME__/header" />

<link href="../Public/friend.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/swfobject.js"></script>

<script>
/*
    function CopyText(id)
    {
        //copyToClipboard(document.getElementById(id).value);
        copy(document.getElementById(id).value);
    }

    function copy(text2copy) {
        if (window.clipboardData) {
            window.clipboardData.setData("Text",text2copy);
        } else {
            var flashcopier = 'flashcopier';
            if(!document.getElementById(flashcopier)) {
                var divholder = document.createElement('div');
                divholder.id = flashcopier;
                document.body.appendChild(divholder);
            }
            document.getElementById(flashcopier).innerHTML = '';
            var divinfo = '<embed src="__PUBLIC__/js/copy/_clipboard.swf" FlashVars="clipboard='+escape(text2copy)+'" width="0" height="0" type="application/x-shockwave-flash"></embed>';//这里是关键
            document.getElementById(flashcopier).innerHTML = divinfo;
            alert('Text copied');
        }
    }

    function copyToClipboard(id)
    {
        var meintext = $("#copy_"+id).val();
        if (window.clipboardData){
			
        	// the IE-manier
            window.clipboardData.setData("Text", meintext);
            Alert("邀请链接地址复制成功！<br>请在QQ或MSN等处同时按Ctrl键和V键将链接粘贴过去。");
            // waarschijnlijk niet de beste manier om Moz/NS te detecteren;
            // het is mij echter onbekend vanaf welke versie dit precies werkt:
        }
        else if (window.netscape){
            // dit is belangrijk maar staat nergens duidelijk vermeld:
            // you have to sign the code to enable this, or see notes below
            try {
                netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
            } catch (e) {
                alert("被浏览器拒绝！"); }      //\n请在浏览器地址栏输入'about:config'并回车\n然后将'signed.applets.codebase_principal_support'设置为'true'

            // maak een interface naar het clipboard
            var clip = Components.classes['@mozilla.org/widget/clipboard;1'].
                createInstance(Components.interfaces.nsIClipboard);
            if (!clip) return;
            // maak een transferable
            var trans = Components.classes['@mozilla.org/widget/transferable;1'].
                createInstance(Components.interfaces.nsITransferable);
            if (!trans) return;
            // specificeer wat voor soort data we op willen halen; text in dit geval
            trans.addDataFlavor('text/unicode');
            // om de data uit de transferable te halen hebben we 2 nieuwe objecten
            // nodig om het in op te slaan
            var str = new Object();
            var len = new Object();
            var str = Components.classes["@mozilla.org/supports-string;1"].
                createInstance(Components.interfaces.nsISupportsString);
            var copytext=meintext;
            str.data=copytext;
            trans.setTransferData("text/unicode",str,copytext.length*2);
            var clipid=Components.interfaces.nsIClipboard;
            if (!clip) return false;
            clip.setData(trans,null,clipid.kGlobalClipboard);
        }
  
        return false;
    }


    function check_emails() {
        var con = $("#emails").val();
        con = $.trim(con);
        if(con == ""){
            Error("邀请邮箱不能为空!");
            return false;
        }else{
            return true;
        }
    }
*/
</script>






</script>


<div class="content"><!-- 内容 begin  -->
    <div id="flashcopier"></div>
    <include file="__THEME__/apps" />


    <!-- 用户组件列表 end -->
    <div class="main">
        <!-- 右侧内容 begin  -->
        <div class=page_title>
            <!-- page_title begin -->
             <h2><span class="right fn f12px"> <a href="javascript:window.history.back();">&lt;&lt;返回上一页</a></span><img src="../Public/images/web_mail.gif" />邀请朋友加入{$site_name}网</h2>
        <div class="c"></div>
</div><!-- page_title end -->

        <div class="friendBox">
            <div class="FList">


                <div class="f14px lh25" style="padding:20px 0px;"> <strong>向好友发送邀请链接</strong></a>
                    <p class="f12px cGray"><strong>点击“复制链接”按钮复制邀请链接地址，粘贴到MSN、QQ或其他方式发送给你的朋友，打开此网址即可加入。</strong><br />
                    建议:不同的好友圈子请选择对应的邀请链接，以便对方找到与你的共同好友</p>
                    <ul>
                        <volist name="groups" id="vo">
                            <php>
                        
                                $code_arr = array($mid,$my_name,$vo["id"],$gid);
                                $code = json_encode($code_arr);
                                $code = jiami($code);
                            </php>
                            <li class="li">
                                <div class="left alR cGray2 f12px lh25" style="width: 20%;">{$vo.name}：</div>
                                <div class="left cGray2" style="width: 80%;">
                                    <input name="input2" type="text" class="TextH20" onfocus="this.className='Text2'" onblur="this.className='TextH20'" size="75" value="<php>echo $url.$code;</php>"  id="copy_{$vo.id}"/>
                                    <embed width="62" height="24" align="middle"
flashvars="txt=<php>echo $url.$code;</php>"
src="__PUBLIC__/js/Copy.swf"
quality="high" wmode="transparent"
allowscriptaccess="sameDomain"
pluginspage="http://www.adobe.com/go/getflashplayer"
type="application/x-shockwave-flash">
                                </div>
								<div class="c"></div>
                            </li>
                        </volist>


                    </ul>
                </div>

               
             
            </div><!-- 邀请表单 end  -->
        </div>
    </div>
    <!-- 右侧内容 end  -->
<div class="c"></div>
</div><!-- 内容 end -->
<include file="__THEME__/footer" />
