<include file="__THEME__/header" />

<link href="../Public/friend.css" rel="stylesheet" type="text/css" />



<div class="content"><!-- 内容 begin  -->
    <div id="flashcopier"></div>
    <include file="__THEME__/apps" />


    <!-- 用户组件列表 end -->
    <div class="main">
        <!-- 右侧内容 begin  -->
        <div class=page_title>
            <!-- page_title begin -->
            <h2><img src="../Public/images/web_mail.gif" />邀请朋友加入 {$site_name}</h2>
        <div class="c"></div>
</div><!-- page_title end -->

     <div class="friendBox">
      <div style="width:700px;">
        <div class="menuA" onmouseover="this.className='menuB'" onmouseout="this.className='menuA'">
          <h2 class="f14px fB lh35"><a href="__URL__/postOffice/gid/{$gid}">导入邮箱的通讯录至邀请名单</a></h2>
          <p class="cGray">支持<img src="../Public/images/h_163.gif" width="17" height="15" /><img src="../Public/images/h_gmail.gif" alt="" width="27" height="12" /><img src="../Public/images/h_yahoo.gif" alt="" width="31" height="12" />等常用邮箱</p>
        </div>
        <div class="menuA" onmouseover="this.className='menuB'" onmouseout="this.className='menuA'">
          <h2 class="f14px fB lh35"><a href="__URL__/directSendLink/gid/{$gid}">发送邀请链接给朋友</a></h2>
          <p class="cGray">用<img src="../Public/images/h_qq.gif" width="17" height="15" /><img src="../Public/images/h_msn.gif" width="16" height="14" />等聊天工具邀请链接</p>
        </div>
        <div class="menuA" onmouseover="this.className='menuB'" onmouseout="this.className='menuA'">
          <h2 class="f14px fB lh35"><a href="__URL__/msn/gid/{$gid}">导入MSN联系人至邀请名单</a></h2>
          <p class="cGray">可导入你的MSN<img src="../Public/images/h_msn.gif" width="16" height="14" />上的联系人名单</p>
        </div>
        <div class="menuA" onmouseover="this.className='menuB'" onmouseout="this.className='menuA'">
          <h2 class="f14px fB lh35"><a href="__URL__/directSendEmail/gid/{$gid}">直接通过Email邀请</a></h2>
          <p class="cGray">向对方的邮箱发送邀请邮件</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 右侧内容 end  -->
<div class="c"></div>
</div><!-- 内容 end -->
<include file="__THEME__/footer" />
