<include file="__THEME__/header" />

<link href="../Public/friend.css" rel="stylesheet" type="text/css" />

<div class="content"><!-- 内容 begin  -->
    <div id="flashcopier"></div>
    <include file="__THEME__/apps" />

    <!-- 用户组件列表 end -->
    <div class="main"><!-- 右侧内容 begin  -->
        <div class=page_title>
            <!-- page_title begin -->
             <h2><span class="right fn f12px"> <a href="javascript:window.history.back();">&lt;&lt;返回上一页</a></span><img src="../Public/images/web_mail.gif" />邀请朋友加入{$site_name}网</h2>
        <div class="c"></div>
</div><!-- page_title end -->
	 <div class="friendBox">
       <div class="FList">
     	<form action="__URL__/doMsnInvite" method="post">
   		    <div class="f14px lh25" style="padding:20px 0px;">
            <div><strong>查找你的MSN联系人中有谁在{$site_name}上</strong>
              <p class="f12px cGray">从我的MSN导入朋友名单，选择待邀请人并发送邀请邮件</p>
            </div>
            <ul>
              <li class="li">
                <div class="left alR" style="width: 20%;">MSN账号：</div>
                <div class="left cGray2" style="width: 80%;">
                  <input name="account" type="text" class="TextH20" onfocus="this.className='Text2'" onblur="this.className='TextH20'"/>
                </div>
				  <div class="c"></div>
              </li>
              <li class="li">
                <div class="left alR" style="width: 20%;"> MSN密码：</div>
                <div class="left cGray2" style="width: 80%;">
                  <input name="password" type="password" class="TextH20" onfocus="this.className='Text2'" onblur="this.className='TextH20'" size="30" />
                </div>
				<div class="c"></div>
              </li>
              <li class="li">
                <div class="left alR" style="width: 20%;">&nbsp;</div>
                <div class="left cGray2" style="width: 80%;">
                  <input type="hidden" name="gid" value="{$gid}">
                  <input name="button2" type="submit" class="btn_b" id="button2" value="导 入" />
                </div>
				  <div class="c"></div>
              </li>
              <li class="li">
                <div class="left alR" style="width: 20%;">&nbsp;</div>
                <div class="left" style="width: 80%;">
                  <div class="msg">{$site_name}不会存储你的MSN密码，请放心使用。你也可以先改密码再导入，成功后再改回原始密码，确保密码安全。</div>
                </div>
                <div class="c"></div>
              </li>
            </ul>
          </div> 
       </form> 	  
      </div>
      </div>
    </div><!-- 右侧内容 end  -->
<div class="c"></div>
</div><!-- 内容 end -->
<include file="__THEME__/footer" />
