@charset "utf-8";
/*
赵杰 2009-5-28 
心情样式
*/
.user_info { width: 100%; display:table; display:inline-block; }
.user_info .user_img { width:120px; float:left; overflow: hidden; }
.user_info .user_img span { height: 112px; width: 112px; margin-right: auto; margin-left: auto; display: block; text-align: center; background-image: url(images/user_img_bg.gif); background-repeat: no-repeat; background-position: 0px 0px; overflow: hidden; }
.user_info .user_img span img { height: 100px; width: 100px; margin-top: 5px; border: 1px solid #FFFFFF; }
.user_info .user_img .a { background-image: url(images/ico_tx.gif); background-repeat: no-repeat; background-position: 0px center; padding-left: 26px; display: block; color: #666666; text-decoration: underline; width: 60px; margin-right: auto; margin-left: auto; font-size: 12px; line-height: 30px; }
.user_info .user_img .a:hover { color: #FF3300; }
.user_info .Linfo { text-align:left; float: left; margin-left: 8px; width: 430px; }
.user_info .Linfo .info { }
.user_info .Linfo .info h2 { font-size: 14px; font-weight: bold; margin: 0px; padding: 0px; }
.user_info .Linfo .info p { font-size: 12px; padding: 0px; width: 430px; display: block; overflow: hidden; color:#666; margin-top: 10px; margin-right: 0; margin-bottom: 0px; margin-left: 0; }
.user_info .Linfo .info p span { margin-right:10px }
.user_info .Linfo .edit_box { }
.user_info .Linfo .edit_box .status_edit { background-repeat:no-repeat; background-position:0px 0px; text-align:left; width:350px; margin:0px; padding:0px; background-image:url(images/status_edit_bg.gif); top: 0px; height: 44px; float: left; }
.user_info .Linfo .status_edit #mb-hint { }
.user_info .Linfo .status_edit textarea { font-size:12px; line-height:16px; border-top-width:0px; border-right-width:0px; border-bottom-width:0px; border-left-width:0px; border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none; padding:0px; width:97%; height:30px; text-align:left; overflow: hidden; margin-top: 10px; margin-right: 0px; margin-bottom: 0px; margin-left: 5px; }
.user_info .Linfo .status_edit .btn_big { }
.user_info .Linfo .edit_box .submenu { margin-top: 5px; }
.user_info .Linfo .edit_box .submenu a { margin-right: 10px; }
.h21 .progress { visibility: hidden; line-height: 20px; z-index: 2; font-weight: normal; font-size: 12px; }
.h22 .progress { visibility: visible; line-height: 20px; z-index: 2; font-weight: normal; font-size: 12px; }
/*.progress {
	line-height: 20px;
	z-index: 2;
	font-weight: normal;
	font-size: 12px;
}*/
.progress a:hover { text-decoration: none; }
.progress span { float: left; display: block; }
.progress .percent { width: 200px; background-color: #EFEFEF; line-height: 15px; margin-top: 3px; margin-left: 5px; }
.user_info .Linfo .box1 { background-color: #FFFFFF; border: 1px solid #CCCCCC; height: 100px; line-height: 100px; text-align: center; color: #999999; }
.system_info { font-size: 12px; margin-top: 20px; margin-bottom: 20px; text-align: center; height: 22px; width: 546px; clear: both; padding-top: 10px; padding-right: 10px; padding-left: 10px; padding-bottom: 5px; background-color: #FCFCFC; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; border-top-color: #E6E6E6; border-bottom-color: #E6E6E6; }
.system_info a, .system_info a:visited { color: #025FAC; text-decoration: none; display: block; float: left; }
.system_info a:hover { text-decoration: none; color: #025FAC; }
.system_info div { display: inline-block; text-align: center; overflow: hidden; float: left; }
.system_info div span { display: inline-block; font-family: Arial, Helvetica, sans-serif; margin-right: 3px; margin-left: 3px; }
.system_info div img { margin-right: 5px; float: left; }
/* 好友心情 */
.Friend { clear:both; overflow:hidden }
.Friend .FList { width:100% }
.Friend .FList .Fli { width:100%; padding-top: 10px; padding-bottom: 10px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #dfdfdf; }
.Friend .FList .Fli .ico_img { height:20px; width:20px; float:left; padding-top: 3px; }
.Friend .FList .Fli .ico_img img { height:16px; width:16px; }
.Friend .FList .Fli .LC { text-align:left; padding-left:5px; margin-left:20px; font-size: 12px; line-height: 20px;  width:535px;_width:530px;}
.Friend .FList .Fli .LC .tit { font-size: 12px; width:535px;_width:530px;}
.Friend .FList .Fli .LC .tit .cl { width: 430px; float: left; overflow: hidden; }
.Friend .FList .Fli .LC .tit .cl a { }
.Friend .FList .Fli .LC .tit .cr { float: right; width: 85px; height: 25px; color: #999999; line-height: 22px; }
.Friend .FList .Fli .LC .tit .cr div { float: right; line-height: 20px; }
.Friend .FList .Fli .LC .tit .cr div em{ display: block; }
.Friend .FList .Fli .RC { width:428px; color:#666; padding-left:20px; }
.Friend .FList .Fli .RC .RLI { clear: both; width: 100%; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; margin-bottom: 1px; }
.Friend .FList .Fli .RC .user_img { height:38px; width:38px; float:left; overflow:hidden; text-align: center; margin-left: 5px; }
.Friend .FList .Fli .RC .user_img img { height:38px; width:38px }
.Friend .FList .Fli .RC .RLC { text-align:left; float:left; padding-right:5px; padding-left:5px; width: 375px;_width: 370px; overflow: hidden; }
.Friend .FList .Fli .RC .RLC h4 { line-height:20px; margin:0px; padding:0px; font-size: 12px; }
.Friend .FList .Fli .RC .RLC h4 span { margin-right:5px; margin-left:5px; font-weight:normal }
.Friend .FList .Fli .RC .RLC p { margin:0px; padding:0px; word-break:break-all; dispaly: block; font-size: 12px; line-height: 18px; }
.Friend .FList .Fli .RC .RLC p img { margin: 0px; }
.Friend .FList .Fli .RC .RLC p a { margin-left:5px; text-decoration:underline; }
.Friend .FList .Fli .input_box { overflow:hidden; margin:0px; clear: both; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.Friend .FList .Fli .input_box textarea { border:1px solid #BDC7D8; font-size:12px; overflow: hidden; }
.Friend .FList .Fli .input_box .text01 { height:25px; line-height:25px; margin:5px; width:412px; }
.Friend .FList .Fli .input_box .text02 { line-height:25px; width:369px;_width:365px; height: 50px; margin-bottom: 3px; }
.Friend .FList .Fli .input_box .btn2 { margin-bottom:5px; margin-top: 5px; }
.mini_tip { background:yellow; }
