@charset "utf-8";
/*
赵杰 
信息
*/

.page_title h2 img{height:24px;width:24px;float:left;margin-right:5px}
.page_title h2{
	font-size:14px;
	color:#000000;
	font-weight:bold;
	line-height:25px;
	height:25px;
	clear:both
}
.page_title p {
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	line-height: 20px;
}

.MessageBox {
	clear:both;
	overflow:hidden;
	margin-top: 20px;
}
.MList{
	float: left;
	overflow: hidden;
}
.MenuSub { 
}
.MenuSub a {
	margin-right: 5px;
	margin-left: 5px;
}
.MList ul {
	padding: 0px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.MList ul li {
	clear: both;
	width: 100%;
	line-height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.MList ul li h3{font-size:14px;}
.MList ul li p {
	margin: 0px;
	padding: 0px;
}
.MList ul li .imported-article{
	background-color:transparent;
	background-image:url(images/blogmini.gif);
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:0pt 8px;
	font-weight:normal;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#cccccc;
	width:200px;
	margin:5px 0pt 0pt;
	padding:5px 0pt 0pt 19px
}
.tip{
	background-color: #FDFFCE;
	border: 1px solid #FFBA43;
	padding:5px;
}
