@charset "utf-8";
.page_title h2 img { height:24px; width:24px; float:left; margin-right:5px }
.page_title h2 { font-size:14px; color:#000000; font-weight:bold; line-height:25px; height:25px; clear:both }
.page_title p { padding: 0px; margin-right: 0px; margin-left: 0px; line-height: 18px; color: #666666; margin-top: 2px; margin-bottom: 2px; }
.page_title .rmenu { }
.page_title .rmenu a { display: block; line-height: 20px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #CCCCCC; padding-left: 5px; }
.page_title .rmenu a:hover { color: #FFFFFF; background-color: #005FAB; text-decoration: none; }
.groupBox { clear:both; overflow:hidden; margin-top: 10px; }
.zd { font-size: 12px; background-color: #0066CC; display: inline-block; color: #FFFFFF; padding-top: 1px; padding-right: 3px; padding-bottom: 1px; padding-left: 3px; margin-right: 5px; line-height: 140%; }
.jh { font-size: 12px; background-color: #FF9900; display: inline-block; color: #FFFFFF; padding-top: 1px; padding-right: 3px; padding-bottom: 1px; padding-left: 3px; margin-right: 5px; line-height: 140%; }
.boxL { float: left; }
.box1 { padding-bottom: 8px; clear: both; width: 100%; margin-right: auto; margin-left: auto; }
.box1 h3 { font-size: 14px; font-weight: bold; line-height: 30px; padding-left: 5px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #a4c4dd; }
.box1 h4 { font-size: 12px; font-weight: bold; line-height: 30px; }
.box1 .ul { padding: 0px; width: 100%; margin: 0px; }
.box1 .ul li { width: 100%; margin: 0px; clear: both; color: #666666; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E6E6E6; font-family: Arial, Helvetica, sans-serif; height: 20px; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; line-height: 20px; }
.box1 .ul li .c1 { float: left; width: 50%; }
.box1 .ul li .c2 { float: left; width: 10%; }
.box1 .ul li .c3 { float: left; width: 10%; }
.box1 .ul li .c4 { float: left; width: 15%; }
.box1 .ul li .c5 { float: left; width: 14%; }
.piclist { clear: both; overflow: hidden; width: 100%; margin: 0px; padding: 0px; }
.piclist li { float: left; height: 130px; overflow: hidden; width: 25%; text-align: center; margin-top: 5px; }
.piclist li img { padding: 2px; border: 1px solid #CCCCCC; margin-bottom: 5px; background-color: #FFFFFF; }
/*共享文件*/
.file { padding: 0px; width: 100%; margin: 0px; }
.file li { width: 100%; margin: 0px; clear: both; color: #666666; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E6E6E6; font-family: Arial, Helvetica, sans-serif; height: 20px; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; line-height: 20px; }
.file li .c1 { float: left; width: 85%; }
.file li .c11 { float: left; width: 3%; }
.file li .c12 { float: left; width: 82%; }
.file li .c2 { float: left; width: 8%; }
.file li .c3 { float: left; width: 7%; }
.list { list-style-type: none; padding-bottom: 20px; }
.list li { line-height: 20px; padding-top: 5px; padding-bottom: 5px; clear:both; }
.amend { font-size: 12px; margin-left: 10px; }
.amend a { color: #666666; text-decoration: underline; }
.boxR { clear: both; margin-bottom: 10px; padding-bottom: 5px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #A4C4DD; border-top-width: 0px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid; border-top-color: #A4C4DD; border-right-color: #A4C4DD; border-left-color: #A4C4DD; }
.boxR h3 { font-weight: bold; line-height: 30px; background-color: #E7EFF5; border-top-width: 1px; border-top-style: solid; border-top-color: #A4C4DD; padding-left: 5px; font-size: 12px; margin: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; }
.boxR p { line-height: 180%; margin: 5px; }
/*  右侧用户头像列表  */
.pic_list { overflow: hidden; clear: both; width:100%; }
.pic_list li { width: 75px; float: left; text-align: center; display: block; background-image: none; height: auto; }
.pic_list li span { margin-right: auto; margin-left: auto; }
.pic_list li a { line-height: 20px; margin: 0px; padding: 0px; display:block; }
.pic_list li em { color: #666666; text-align: center; display: block; line-height: 16px; }
.more { text-align: right; clear: none; padding-right: 5px; line-height: 25px; }
.ListBox { overflow: hidden; clear: both; width:100%; }
.ListBox li { width: 75px; float: left; text-align: center; display: block; background-image: none; margin-top: 8px; height: auto; }
.ListBox li span { margin-right: auto; margin-left: auto; }
.ListBox li a { line-height: 20px; margin: 0px; padding: 0px; }
.ListBox li em { color: #666666; text-align: center; display: block; line-height: 16px; }
.scale { background-color: #EAEAEA; width: 200px; height: 10px; display: block; margin-top: 1px; }
.scale span { display: block; height: 10px; background-color: #66FF00; }
.rlist { clear: both; padding-bottom: 5px; padding-top: 5px; width: 100%; margin-right: auto; margin-left: auto; }
.li { clear:both; width: 100%; }
.msg { background-color: #FFFFCC; border: 1px solid #FFBA43; padding: 10px; line-height: 25px; }
.msg h2 { font-size: 14px; font-weight: bold; color: #000000; }
.msg img { float: left; margin-top: 5px; margin-right: 5px; }
.msg p { margin: 0px; color: #000000; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; }
/*成员管理列表样式*/
.memberlist { }
.memberlist li { clear:both; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #CCCCCC; padding-top: 5px; padding-bottom: 5px; width: 100%; }
.memberlist li .c1 { float: left; width: 25%; }
.memberlist li .c2 { float: left; width: 15%; }
.memberlist li .c3 { float: left; width: 20%; }
/*好友的群*/

.flist { clear: both; width: 830px; padding-bottom: 10px; }
.flist li { width: 380px; float: left; margin-right: 20px; padding: 5px; margin-top: 20px; }
.flist li h3 { font-size: 14px; font-weight: bold; line-height: 30px; }
.flist li p { line-height: 20px; margin: 0px; padding: 0px; }
/*全部群组样式*/
.search { clear: both; margin: 0px; padding: 0px; width: 100%; }
.search li { clear: both; padding: 5px; margin-bottom: 5px; height:80px; }
.search li h3 { font-size: 14px; font-weight: bold; line-height: 25px; }
.search li p { line-height: 18px; margin: 0px; padding: 0px; }
.search li .rmenu { }
.search li .rmenu a { display: block; line-height: 20px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #CCCCCC; padding-left: 5px; }
.search li .rmenu a:hover { color: #FFFFFF; background-color: #005FAB; text-decoration: none; }
.rSort { float: right; width: 200px; }
.rSort h4 { font-weight: bold; line-height: 25px; font-size: 12px; }
.rSort ul { width: auto; }
.rSort ul li { line-height: 18px; }
.rSort ul li.on a { color: #FF0000; text-decoration: underline; padding-left: 8px; background-image: url(../images/ico-xiaosanjiao.gif); background-repeat: no-repeat; background-position: 0px center; }
/* 我所在小组话题的最新更新 */
.newtopic { padding: 0px; width: 100%; margin: 0px; }
.newtopic li { width: 100%; margin: 0px; clear: both; color: #666666; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E6E6E6; font-family: Arial, Helvetica, sans-serif; height: 20px; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; line-height: 20px; }
.newtopic li .c1 { float: left; width: 45%; }
.newtopic li .c2 { float: left; width: 18%; }
.newtopic li .c3 { float: left; width: 12%;white-space: nowrap;  }
.newtopic li .c4 { float: left; width: 12%; text-align: center; }
.newtopic li .c5 { float: left; width: 12%; }
.log { width: 100%; }
.log li { clear: both; display: inline-block; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #CCCCCC; padding-bottom: 10px; padding-top: 5px; }
.log li .c1 { float: left; width: 70px; }
.log li .c2 { width: 450px; float: left; line-height: 20px; color: #666666; }
.log li .c3 { float: left; width: 120px; line-height: 20px; font-family: Arial, Helvetica, sans-serif; color: #999999; font-size: 10px; text-align: right; }
/*鼠标经过边框样式*/
.bx1 { border: 1px solid #E3EDF4; background-color: #FDFDFD; }
.bx2 { border: 1px solid #FFE222; background-color: #FFFDEF; }
/* 搜索话题 */
.search_log { }
.search_log_box { }
.search_log_box .c1 { width:30%; text-align: right; float:left; line-height:20px; }
.search_log_box .c2 { width:70%; float:left; }
.search_log_list { }
.search_log_list ul { }
.search_log_list ul li { padding-top: 10px; padding-bottom: 10px; }
.search_log_list ul li h3 { font-size: 14px; line-height: 25px; }
.search_log_list ul li p { margin: 0px; padding: 0px; line-height: 25px; }
#quotes { background-color: #F7F7F7; border: 1px solid #CCCCCC; padding: 10px; }
/*推荐群组*/
.top_box { padding-top: 15px; width: 100%; }
.top_box fieldset { }
.top_box legend { font-size: 14px; color: #666; font-weight: bold; }
.top_box div { float:left; width:119px; height:110px; text-align: center; overflow: hidden; padding-top: 10px; }
.top_box div a { }
