@charset "utf-8";
/*
赵杰 2009年7月15日
资料样式
*/
.page_title p {	line-height: 30px;	margin: 0px;padding: 0px;}
.page_title h1{	font-size: 14px;font-weight: bold;line-height: 25px;color: #000000;}
.page_title h2 img{height:24px;width:24px;float:left;margin-right:5px}
.page_title h2{font-size:14px;color:#000000;font-weight:bold;line-height:25px;float:left;height:25px;margin-bottom:10px;clear:both}
.data {
	clear: both;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
.data ul {padding: 0px;	margin: 0 auto; overflow:hidden;}
.data ul li { clear: both; overflow:hidden; width: 100%; line-height: 24px; padding-top: 5px; padding-bottom: 5px; }
.data dl {
	padding: 0px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
.data dl dt {
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
	padding-left: 70px;
}
.data dl dd {
	clear: both;
	display:table;
	overflow: hidden;
	width: 100%;
	line-height: 20px;
}
.data dl dd .c1 {
	width: 150px;
	text-align: right;
	float: left;
	color: #999999;
	
}
.data dl dd .c2 {
	width: 20px;
	float: left;
	text-align: center;
	padding-top: 3px;
	line-height: normal;
}
.data dl dd .c3 {
	width: 600px;
	float: left;
}
