@charset "utf-8";
/*
赵杰 2009-6-5
*/

.page_title h2 img{height:24px;width:24px;float:left;margin-right:5px}
.page_title h2{font-size:14px;color:#000000;font-weight:bold;line-height:25px;float:left;height:25px;margin-bottom:10px;clear:both}
.PBox { clear: both; }
.PBox h3{
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	clear: both;
	color: #333;
}
.PBox p{color: #666;}
.PBox ul {
	width: 830px;
	margin-top: 10px;
}
.PBox ul li {
	width: 100%;
	clear: both;
	float: none;
	overflow: visible;
	margin-top: 8px;
	color: #666666;
}
.PBox ul li .cl {
	float: left;
	width: 125px;
	text-align: right;
	line-height: 20px;
}
.PBox ul li .cl em {
	color: #FF0000;
	font-size: 12px;
	display: inline-block;
	width: 10px;
	text-align: center;
}
.PBox ul li .cc {
	width: 290px;
	float: left;
	line-height: 20px;
	clear: none;
	font-size: 12px;
	height: auto;
}

.PBox ul li .cc a {
}
.PBox ul li .cc .city {
	top: 23px;
	left: 0px;
	background-color: #FFFFFF;
	width: 400px;
	border: 1px solid #CCCCCC;
}
.PBox ul li .cc .city a { }
.PBox ul li .cr {
	width: 330px;
	float: left;
	line-height: 20px;
}
.PBox ul li .cr .img{}
.PBox ul li .cr .clue {
	background-image: url(images/clue.gif);
	background-repeat: no-repeat;
	background-position: 0px top;
	width: 300px;
	z-index: -5;
}
.PBox ul li .cr .clue p {
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin: 0px;
}
.PBox ul li .cr .clue .clue_btm {
	background-image: url(images/clue.gif);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	height: 5px;
	display: block;
}
.prohibiter {
	float: left;
	background-color: #FFFFCC;
	margin-right: 10px;
	white-space: nowrap;
	margin-bottom: 10px;
	padding: 2px;
	height: 20px;
	overflow: hidden;
	display: table;
	min-width:65px;

	width:e­xpression(document.body.clientWidth < 800 ? "65px" : "100%" );
	line-height: 20px;
}
.prohibiter span {
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	white-space: nowrap;
	display: block;
}
